<!DOCTYPE html>
    <html xmlns:th=http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Financial Management Dashboard</title>
</head>

<body>

<nav>
    <a href="/getstarted">Home</a>
    <a href="/report">Report</a>
</nav>

<h1>Track Your Expenses</h1>

    <p th:text="${budget}"/>

    <form action="#" th:action="@{/saveBudget}" th:object="{specimen}" method="GET">
        <label>Description</label>
        <input type="text" name="description" th:field="{description}" />

        <label>Budget</label>
        <input type="text" name="budgetId" th:field="{budgetId}" />
    </form>

    <button>View Report</button>
</body>


</html>